* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
        border-bottom: 1px solid #ccc;
        padding-block: 1rem;
        margin-bottom: 1rem;
} 